* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial, sans-serif;
}

body {
  background: #f8f6f2;
  color: #2b2b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  min-height: 100vh;
}

header {
  border-radius: 5px;
  width: 100%;
  max-width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

header h1 {
  font-size: 24px;
  color: white
  letter-spacing 0.5px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.08);
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  color: rgb(70, 68, 68);
  font-weight: 600;
  padding: 3px 6px;
  border-radius: 4px;
  transition: 0.2s;
}

nav a:hover {
  background: rgba(82,71,166,0.1);
}

.todo-container {
  background: #3a60ad2b;
  width: 100%;
  max-width: 1000px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
  padding: 25px;
  border: 1px solid rgba(0,0,0,0.05);
}

.add-task {
  display: flex;
  gap: 8px;
  margin-bottom: 18px;
}

.add-task input {
  flex: 1;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fdfbf8;
  font-size: 15px;
  transition: 0.2s;
}

.add-task input:focus {
  outline: none;
  border-color: #8a7ef0;
  background: #fff;
}

.add-task button {
  background: #7366e3;
  color: #fff;
  border: none;
  padding: 11px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 3px 6px rgba(115,102,227,0.3);
}

.add-task button:hover {
  background: #5b4ed0;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #ddd;
  padding: 12px 4px;
  transition: background 0.3s;
}

li:hover {
  background: #fefcf8;
  border-radius: 10px;
}

.delete {
  border: none;
  background: transparent;
  color: #e35b5b;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.1s;
}

.delete:hover {
  transform: scale(1.1);
}

.form-container {
  background: #fffdfa;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
  padding: 35px 30px;
  border: 1px solid rgba(0,0,0,0.05);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #5247a6;
  letter-spacing: 0.4px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 14px;
  color: #444;
  margin-bottom: 3px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fdfbf8;
}

input:focus {
  border-color: #8a7ef0;
  background: #fff;
  outline: none;
}

button {
  background: #7366e3;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 3px 6px rgba(115,102,227,0.3);
}

button:hover {
  background: #5b4ed0;
}

.switch {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
  color: #666;
}

.switch a {
  color: #5247a6;
  text-decoration: none;
}

.switch a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 25px;
  color: #777;
  font-size: 13px;
  opacity: 0.8;
  
}
a {
  text-decoration: none;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin: 20px 0;
}

.socials a {
  color: #110c01;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s;
}

.socials a:hover {
  color:white;
  transform: scale(1.15);
}
body {
 
  background-image: url(https://wallpapers.com/images/hd/high-resolution-wood-background-6zzehaz6kwqs80xc.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}